<main>
  <div id = "wrapper">
    <form id= "answer_quiz" action='/topic/<%= @topic.id %>/quiz/<%= @quiz.id %>/guess' method='post'>
        <label for='question'><%= @quiz.question %></label><br><br>
        <% @quiz.options.each do |opt| %>
          <input type= "radio" name = 'guess_body' value = '<%= opt.option %>'> <label><%= opt.option %></label>
          <br><br>
        <% end %>
      <input type="submit" value="Submit">
    </form>
  </div>
  <div id= "show-error">
      <%= erb :'_errors' %>
  </div>
</main>
