<main class="profile">
  <header>
    <p> First Name : <%= @user.first_name%> </p><br>
    <p> Last Name : <%= @user.last_name%> </p><br>
    <p> Email : <%= @user.email%> </p><br><br>
  </header>
  <div class="links">
    <a href='/users/<%="#{@user.id}"%>/edit'>Update Profile </a> <br><br>
    <a href= '/users/<%="#{@user.id}"%>/edit'>Delete Account </a>
  </div>
  <br><br>
  <fieldset>
    <legend> <em><b>Game Record</b></em></legend>
    <div>
      <label>Total games: <%= @user.games.count%></label><br>
      <label>Average Score: <%= @user.average_score%></label>
      <% if @user.games %>
        <h3> List of topics with score </h3>
        <% count = 1 %>
        <!-- User.first.games.first.guesses.first.topic.topic_name -->
        <% list = @user.games %>
        <% list.each do |game| %>
            <% if !game.guesses.empty? %>
              <p>Game <%= count%>: <a href="/users/<%= @user.id %>/games/<%= game.id%>"><%= game.guesses.first.topic.topic_name %> </a>, score: <%= game.score %></p>
              <% count += 1%>
            <% end %>
        <% end %>
      <% end %>
    </div>
  </fieldset>
  <div>
   <button><a href='/users/<%="#{@user.id}"%>/games/new'>PLAY</a></button>
  </div>
  <div>
      <%= erb :'_errors' %>
  </div>
</main>
