<main>
  <div class="profile">
    <fieldset>
      <legend> <em><b>Game Record</b></em></legend>
        <div class="game_result">
          <p>Number of questions: <%= @game.total_questions %></p>
          <p>Score: <%= @game.score %></p>
          <p>Correct answers: <%= @game.total_correct_questions %></p>
          <br><br><br>
        </div>
        <p>Wrong/ Unattended Questions:</p>
        <div id="wrong_qn_list">
          <% wrong_qn_list = @game.list_of_wrong_questions %>
            <% wrong_qn_list.uniq.each do |qn| %>
              <% searchQuestion = qn.split(" ").join("+") %>
              <p> <a class="code"href='https://www.google.com/#q=<%=searchQuestion%>'> <%=qn %></a></p>
            <%end%>
        </div>
    </fieldset>
  </div>
</main>

