<form id = "answer_quiz" action ='/topic/<%="#{@topic.id}"%>/quiz/<%="#{@quiz.id}"%>/guess' method ='post'>
  <label for='question'><%= @quiz.question %></label><br><br>
    <% @quiz.options.each do |opt| %>
      <label><p><%= opt.option %></p></label><input type= "radio" name = 'guess_body' value = '<%= opt.option %>'>
          <br><br>
    <% end %>
    <input type="submit" value="Submit">
</form>
